<footer class="bg-zinc-800 text-white px-12 py-6">
    <article>
        <p class="font-bold mb-2">Liens</p>
        <ul>
            <li>
                <a href="{{ path('app_section_index') }}">Sections</a>
            </li>
        </ul>
    </article>

    <p class="mt-5 text-sm opacity-25">© 2023 Club Omnisports.</p>
</footer>
