<footer class="bg-zinc-800 text-white px-12 py-6">
    <article>
        <span class="font-bold">Liens</span>
        <ul>
            <li>
                <a href="">Sections</a>
            </li>
        </ul>
    </article>

    <p class="mt-5">Copyrights</p>
</footer>
