<header class="h-20 px-24 flex items-center shadow">
    <nav class="">
        <ul class="flex gap-6">
            <li>
                <a href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('app_section_index') }}">Sections</a>
            </li>
        </ul>
    </nav>
</header>
