{% extends 'base.html.twig' %}

{% block title %}Club Omnisport{% endblock %}

{% block body %}

    <div class="bg-cover bg-center" style="background-image: url('{{ asset('images/hero.jpg') }}')">
        <div class="flex h-full bg-black/40">
            <article class="container my-auto py-10 lg:py-32 lg:w-1/2 text-white text-center">
                <h1 class="text-5xl font-bold text-white mb-5">Animez votre passion du sport</h1>
                <p>Le sport est un outil puissant pour maintenir et améliorer la santé.</p>
                <div class="mt-10">
{#                    <a class="btn primary" href="{{ path('app_section_index') }}">Sections sportives</a>#}
                </div>
            </article>
        </div>
    </div>

    <div class="container">
        <section class="flex flex-col lg:flex-row gap-5">

            <div class="flex-1 aspect-video overflow-hidden">
                <img class="w-full h-full object-cover rounded" src="{{ asset('images/about.jpg') }}" alt="About image" loading="lazy">
            </div>

            <div class="flex-1 flex flex-col gap-5">
                <article>
                    <h2 class="h2">Le Club</h2>
                    <p class="lead">Depuis 20 ans, le club offre à la ville une variété de sections sportives. C'est un lieu de rassemblement pour les gens de tous âges et de tous niveaux de compétence et offre des opportunités pour s'amuser, faire des amis et s'entraîner. Il est un excellent moyen de s'impliquer dans la communauté et de renforcer un esprit d'équipe. Le club offre des avantages sociaux et physiques et permet aux membres de s'épanouir de manière saine et productive.</p>
                </article>

                <article>
                    <h2 class="h2">Les Sections Sportives</h2>
                    <p class="lead">Les sections offertes comprennent le football, le basketball, le volleyball, le tennis, la natation et plus encore. Tous les sports sont ouverts à tous, peu importe l'âge ou le niveau de compétence. Les entraîneurs sont bien formés et disposés à aider les membres à atteindre leurs objectifs.</p>
                </article>

                <div>
                    <a class="btn primary" href="{{ path('app_section_index') }}">Voir les sections</a>
                </div>
            </div>

        </section>
    </div>

{% endblock %}
