{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="container mx-auto">
        <h1 class="text-5xl font-bold">{{ club.name }}</h1>

        <div class="mt-6">
            {{ club.description | raw }}
        </div>

        <div class="mt-6">
            {{ club.content | raw }}
        </div>
    </div>

{% endblock %}
